<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fuz presence button</title>
    <meta
      name="description"
      content="Public API for Fuz hackerspace presence button"
    />
    <link
      id="favicon"
      rel="icon"
      href="https://fuz.frama.site/medias/5c02ae843c25e.jpg"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>
        Fuz presence button public API
      </h1>
    </header>

    <main>
      <p>
        See documentation for this project on
        <a href="https://wiki.fuz.re/doku.php?id=projets:fuz:presence_button"
          >Fuz wiki</a
        >
      </p>
      <p>Available endpoints:</p>

      <section class="dreams">
        <ul id="dreams">
          <li>
            <a href="/img">image API</a
            ><img src="/img" height="15px" width="15px" />
          </li>
          <li><a href="/api">ajax API</a></li>
        </ul>
      </section>
      <h2>API minimalistic documentation</h2>
      <p>
        <code>{"fuzIsOpen":true,"lastSeen":"2019-11-03T16:25:24.385Z"}</code
        ><br />
        The JSON means that the last notification sent by the presence button
        was at 2019-11-03T16:25:24.385Z and it was saying that the Fuz was open
        at the time. If it's been a while since last notification (lastSeen), we
        can conclude the Fuz is now closed.
      </p>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>! Icons made by
      <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a> from
      <a href="https://www.flaticon.com/">www.flaticon.com</a>
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
